* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(35, 35, 35);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 100px;
  width: 48%;
  border-radius: 100px;
  border-style: solid;
  border-color: #d3d160;;
}

header h1 {
  margin: 50px 0px 30px 0px;
  color: #d3d160;
  text-align: center;
  font-size: 40px;
}

header p {
  font-size: 25px;
  text-align: center;
  color: dodgerblue;
}

.pads p {
  color: black;
}

.pads {
  background-color: rgb(35, 35, 35);
  display: inline;
  text-align: center;
  padding: 20px;
}

.pads>div {
  height: 100px;
  width: 48%;
  opacity: .4;
}

.pad1 {
  background: rgb(150,150,150);
  float: left;
  padding: 40px;
}

.pad1:hover {
  background: rgb(50,50,50);
  opacity: 1;
}

.pad2 {
  background: rgb(150,150,150);
  float: right;
  padding: 35px;
}

.pad2:hover {
  background: rgb(50,50,50);
  opacity: 1;
}

.pad3 {
  background: rgb(150,150,150);
  float: left;
  padding: 40px;
}

.pad3:hover {
  background: rgb(50,50,50);
  opacity: 1;
}

.pad4 {
  background: rgb(150,150,150);
  float: right;
  padding: 37px;
}

.pad4:hover {
  background: rgb(50,50,50);
  opacity: 1;
}

.pad5 {
  background: rgb(150,150,150);
  float: left;
  padding: 40px;
}

.pad5:hover {
  background: rgb(50,50,50);
  opacity: 1;
}

.pad6 {
  background: rgb(150,150,150);
  float: right;
  padding: 33px;
}

.pad6:hover {
  background: rgb(50,50,50);
  opacity: 1;
}