* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: "Raleway", sans-serif;
  background-color: white;
}

header h1{
  margin: 0px 0px 0px 0px;
  text-align: center;
  font-size: 40px;
}

.top{
  /* background-color: black; */
  margin: 0px 0px 20px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.poster {
  width: 80%;
  margin: auto;
  margin-top: 0px;
}
.instruction{
  padding-top: 20px;
  margin: auto;
  text-align: center;
  color : white;
  font-weight: bolder;
}
.button1 {
  padding: 20px 10px 20px 10px;
  width: 30%;
  margin:auto;
  margin-top: 270px;
  text-align: center;
}
.button1 img{
  width: inherit;
}
.button2 {
  padding: 20px 10px 20px 10px;
  width: 30%;
  margin:auto;
  /* margin-top: 20px; */
  text-align: center;
  opacity: 0.6;
}

.button2 img{
  width: inherit;
}
