<br><br><br>
<audio [src] = "currContent[1]" id="music"></audio>
<div class='container' style="background-size: cover;" style="background-image: url({{currContent[0]}});">
    <mat-progress-bar class="bar" color="warn" mode="determinate" [value]="lengthPlayed"></mat-progress-bar>
</div>
<mat-toolbar class="toolbar" color="primary">
    <button (click)="play()" style="margin-left: 35%;" mat-icon-button>
        <mat-icon *ngIf="isplaying">pause_circle_outline</mat-icon>
        <mat-icon *ngIf="!isplaying">play_circle_outline</mat-icon>
    </button>
    <button (click)="refresh()" style="margin-left: 10px;" mat-icon-button>
        <mat-icon >refresh</mat-icon>
    </button>
</mat-toolbar>